
{{ include('pret/_form.html.twig') }}

<div class="col-lg-12">
    <div class="ibox">
        <div class="ibox-content">
            <div class="amortissement-container">
                <hr>
                <h2>Tableaux des amortissements</h2><br>
                <div class="loader-container">
                    <img src="{{asset('images/loading.gif')}}" style="width: 54px;">
                </div>
                {{ include('pret/amortissement_content.html.twig') }}
            </div>
        </div>
    </div>
</div>
