<div id="modalFormClient" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header" style="border: none;">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body row">
            {{ include('client/_form.html.twig') }}
        </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    $('form[name=client]').attr('action', "{{url}}");
    var form = document.forms.namedItem("client");
    form.addEventListener('submit', function(ev) {
      ev.preventDefault();
      $btnSubmit = $('form[name=client] button');
      $btnSubmit.text('Enregistrement...');$btnSubmit.css('pointer-events', 'none');
      $.ajax({
        url:form.getAttribute('action'),
        type:"POST",
        data: new FormData(this),
        dataType: 'json',
        contentType: false,
        cache: false,
        processData:false,
        success:function(response) {
          if(response.status == 200){
            if($("input[name=add_mode]").val() != "manuel"){
              exportDoc();
            }
            else if($("input[name=add_mode]").val() == "manuel"){
                $('#vente_client').prepend("<option value='"+response.client.id+"'>"+response.client.nom+"</option>");
                $('#vente_client').val(response.client.id);
            }

            toastr.success('Client crée avec success');
            $('#modalFormClient').modal('hide');
          }
          else if(response.status == 500){
            toastr.error(response.message);
          }
          $btnSubmit.text('Enregistrez');$btnSubmit.css('pointer-events', 'auto');
        },
        error:function(){
          toastr.error("Ooops... Quelque chose s'est mal passée");
          $btnSubmit.text('Enregistrez');$btnSubmit.css('pointer-events', 'auto');
        }
      });
        
      ev.preventDefault();
    }, false);
    $('input#client_nom').val($('input[name=sender_name]').val())
</script>