{% extends 'base.html.twig' %}

{% block breadcrumb %}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h1>modification d'une categorie</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ path('home') }}">Accueil</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{ path('previsionel_categorie_index') }}">Categorie</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>modification d'une categorie</strong>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    {{ include('previsionel_categorie/_form.html.twig') }}

                </div>
            </div>
        </div>
    </div>

{% endblock %}

