<form method="post" action="{{ path('config_imap_email_delete', {'id': config_imap_email.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ config_imap_email.id) }}">
    <button class="btn">Delete</button>
</form>
