{% extends 'base.html.twig' %}
{% block css %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}
{% block breadcrumb %}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h1>Modifier un prospect</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ path('home') }}">Accueil</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{ path('prospect_list') }}">Prospect</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>Modifier un prospect</strong>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        {{ include('prospect/_form.html.twig') }}
    </div>

    <a href="{{ path('prospect_list') }}">Retourner à la liste des prospect</a>
{% endblock %}

{% block javascript_script %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock %}
{% block javascript %}
    $(document).ready(function() {
        $('.js-example-basic-multiple').select2();
    });

{% endblock %}