<form method="post" action="{{ path('config_total_delete', {'id': config_total.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ config_total.id) }}">
    <button class="btn">Delete</button>
</form>
