<form method="post" action="{{ path('chantier_delete', {'chantierId': chantier.chantierId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ chantier.chantierId) }}">
    <button class="btn">Delete</button>
</form>
