{% extends 'base_admin.html.twig' %}
{% block css %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <style type="text/css">
       .form-control, select.form-control{
        height: 46px!important;
       }
       .select2-container{width: 100%!important}
    </style>
{% endblock %}


{% block breadcrumb %}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h1>Nouveau menu</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ path('home') }}">Accueil</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{ path('menu_index') }}">Menu</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>Ajout</strong>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">

    				{{ include('menu/_form.html.twig') }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascript_script %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script type="text/javascript">
        $('#modalEntreprise').modal("hide");
    </script>
{% endblock %}
{% block javascript %}
    $(document).ready(function() {
        $('.js-example-basic-multiple').select2();
    });
{% endblock %}

